{% extends "blog/base.html" %}
{% block content %}
    <div class="header" align="center">
        <h1 style="font-weight:bold">Oh, hi there!</h1>
    </div>
    <br>
    <p align="justify">Welcome to my Shite Recipes page where I share my crappy recipes. Don’t get me wrong, the food I make is great. For me I mean. But I refuse to use added sugar and wheat flour, so for normal people most of the food I prepare is probably uneatable, weird, poisonous or in the best case scenario - “meh”. I’m neither vegetarian, nor do I have any of the actual autoimmune diseases that would explain my weird eating habits. I just like it that way. If you feel like you're a weird eater or just a crappy "chef" – feel free to join me and post your shite recipes as well, whether it’d be a bland porridge, a bacon pie or onion flavored chips dipped in homemade ice-cream. All weirdos are welcome! <3</p>
    <img class="rounded" style="max-width: 100%; height: auto;" src="home/egle/Documents/Python/DjangoProjects/ShiteRecipes/django_project/media/food-about.jpg" alt="Food pic">
{% endblock content %}
